<a href="https://colab.research.google.com/github/angelicanates/TensorFlow/blob/master/Report_Noisy_Max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 9: Report Noisy Max

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
rng = np.random.default_rng()

In [ ]:
url = 'https://raw.githubusercontent.com/uvm-plaid/programming-dp/master/notebooks/adult_with_pii.csv'
adult = pd.read_csv(url)
adult.head()

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,Karrie Trusslove,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Brandise Tripony,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Brenn McNeely,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Dorry Poter,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Dick Honnan,9/16/1951,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
def laplace_mech(statistic, sensitivity, epsilon):
  return statistic + rng.laplace(loc=0, scale=sensitivity/epsilon)

In [ ]:
def report_noisy_max(statistics, names, sensitivity, epsilon):
  noisy_statistics = np.add(statistics, rng.laplace(scale=sensitivity/epsilon, size=len(statistics)))
  max_idx = np.argmax(noisy_statistics)
  return [names[max_idx], noisy_statistics[max_idx]]

**Estado Civil**

In [ ]:
adult['Marital Status'].value_counts().to_frame()

                       Marital Status
Married-civ-spouse              14976
Never-married                   10683
Divorced                         4443
Separated                        1025
Widowed                           993
Married-spouse-absent             418
Married-AF-spouse                  23

**Buscando el máximo ruidoso**

In [ ]:
names = adult['Marital Status'].unique()
statistics = [adult['Marital Status'].value_counts()[r] for r in names]

In [ ]:
report_noisy_max(statistics, names, 1, 0.5)

['Married-civ-spouse', 14975.811181312241]

**Buscando el mínimo ruidoso**

In [ ]:
def report_noisy_min(statistics, names, sensitivity, epsilon):
  noisy_statistics = np.add(statistics, rng.laplace(scale=sensitivity/epsilon, size=len(statistics)))
  min_idx = np.argmin(noisy_statistics)
  return [names[min_idx], noisy_statistics[min_idx]]

In [ ]:
names = adult['Marital Status'].unique()
statistics = [adult['Marital Status'].value_counts()[r] for r in names]

In [ ]:
report_noisy_min(statistics, names, 1, 0.5)

['Married-AF-spouse', 15.712135503617667]